@import '~jeet/styl/index.styl';
@import '~rupture/rupture/index.styl';
md-input-container
	width 100%
	input, textarea
		display block
		width 100%
.card-half
	col(1/2, cycle: 2)
ul li
	margin .5em 0
	input
		col(1/2)
	button
		float right
.btn
	display inline-block
	padding 0
	width 8em